<div class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Your Old 401k</h1>
      <%= link_to 'Get Started', new_client_path, class:"btn btn-secondary" %>
    </main>
  </div>
</div>
